.user-health{
    padding-top: 20px;
}
.health-item{
    justify-content: center;
    padding: 3%;
    align-items: center;
    
}
.value{
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
}
.center{
    border-left:2px solid rgb(224, 224, 224);
    border-right:2px solid rgb(224, 224, 224);
    border-radius: 3px;
}
.title{
    font-size:.8em;
    padding: 5px;
}
.bar{
    width: 90%;
    height: 2px;
    background-color:rgb(184, 184, 184);
    margin: 10px 0;
}
.progress{
    height: 2px;
    margin: 10px 0;
}
