
.container{
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 3%;
    height: 100%;
    background-color: #E9E9E9;
    border-radius: 20px;
}
.inline-div{
    display: inline-block;
}
h2{
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
}